block settings
	- var title = "Cards"
	- var sidebar = true
	- var dir = "../"

extends /template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: dir + "index.html"},
		{title: "Branding", href: dir + "index.html#Branding"},
		{title: "Cards"}])

block sidebar
	include /template/sidebar-brand.jade

block content
	.articleContent
		div
			p Cards are flexible content containers, for adding snippets of text and images.

			h2 Basic card
			.example-box-plain
				.cards
					.card-image-top
						img(src="#{dir}images/CAB-training-session.jpg" alt="Advisers being trained in a local Citizens Advice")
					.card-text
						h3 Title
						p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
			pre
				code.language-html
					| &lt;div class="cards"&gt;
					| 	&lt;div class="card-image-top"&gt;
					| 		&lt;img src="images/CAB-training-session.jpg" alt="Advisers being trained in a local Citizens Advice"&gt;
					| 	&lt;/div&gt;
					| 	&lt;div class="card-text"&gt;
					| 		&lt;h3&gt;Title&lt;/h3&gt;
					| 		&lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.&lt;/p&gt;
					| 	&lt;/div&gt;
					| &lt;/div&gt;

			h2 Extending
			.example-box-plain
				.row
					.span6
						.cards
							.card-banner-top(style="background-color:#004b88;")
								h3(style="color:#fff;") Header
							.card-image-top
								img(src="#{dir}images/CAB-training-session.jpg" alt="Advisers being trained in a local Citizens Advice")
							.card-text
								p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
					.span6
						.cards
							.card-image-top
								img(src="#{dir}images/CAB-training-session.jpg" alt="Advisers being trained in a local Citizens Advice")
							.card-text
								h3 Title
								p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
								button.btn.btn-primary.right-button-icon(type="button") Continue

			pre
				code.language-html
					| &lt;div class="cards"&gt;
					| 	&lt;div style="color:#fff; background-color:#004b88;" class="card-banner-top"&gt;
					| 		&lt;p&gt;Header&lt;/p&gt;
					| 	&lt;/div&gt;
					| 	&lt;div class="card-image-top"&gt;
					| 		&lt;img src="images/CAB-training-session.jpg" alt="Advisers being trained in a local Citizens Advice"&gt;
					|	&lt;/div&gt;
					| 	&lt;div class="card-text"&gt;
					| 		&lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.&lt;/p&gt;
					| 	&lt;/div&gt;
					| &lt;/div&gt;
					| &lt;div class="cards"&gt;
					| 	&lt;div class="card-image-top"&gt;
					| 		&lt;img src="images/CAB-training-session.jpg" alt="Advisers being trained in a local Citizens Advice"&gt;
					| 	&lt;/div&gt;
					| 	&lt;div class="card-text"&gt;
					| 		&lt;h3&gt;Title&lt;/h3&gt;
					| 		&lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.&lt;/p&gt;
					| 		&lt;button type="button" class="btn btn-primary right-button-icon"&gt;Continue&lt;/button&gt;
					| 	&lt;/div&gt;
					| &lt;/div&gt;

			h2 Branding
			.example-box-plain
				.row
					.span6
						.cards-branding--teal
							.card-banner-top
								p Campaigns
							.card-image-top
								img(src="#{dir}images/mother_with_children.jpg" alt="Mother with two daughters")
							.card-text
								p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
								button.btn.btn-primary.right-button-icon(type="button") Continue

					.span6
						.cards-branding--purple
							.card-banner-top
								p Policy
							.card-image-top
								img(src="#{dir}images/laptop-branding.png" alt="Laptop")
							.card-text
								p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
								button.btn.btn-primary.right-button-icon(type="button") Continue

			pre
				code.language-html
					| &lt;div class="cards-branding--teal"&gt;
					| 	&lt;div class="card-banner-top"&gt;
					| 		&lt;p&gt;Campaigns&lt;/p&gt;
					| 	&lt;/div&gt;
					| 	&lt;div class="card-image-top"&gt;
					|		&lt;img src="images/mother_with_children.jpg" alt="Mother with two daughters"&gt;
					|	&lt;/div&gt;
					| 	&lt;div class="card-text"&gt;
					| 		&lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.&lt;/p&gt;
					| 		&lt;button type="button" class="btn btn-primary right-button-icon"&gt;Continue&lt;/button&gt;
					| 	&lt;/div&gt;
					| &lt;/div&gt;
					| &lt;div class="cards-branding--purple"&gt;
					| 	&lt;div class="card-banner-top"&gt;
					| 		&lt;p&gt;Policy&lt;/p&gt;
					| 	&lt;/div&gt;
					| 	&lt;div class="card-image-top"&gt;
					|		&lt;img src="images/laptop-branding.png" alt="Laptop"&gt;
					|	&lt;/div&gt;
					| 	&lt;div class="card-text"&gt;
					| 		&lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.&lt;/p&gt;
					| 		&lt;button type="button" class="btn btn-primary right-button-icon"&gt;Continue&lt;/button&gt;
					| 	&lt;/div&gt;
					| &lt;/div&gt;
