- var title = "Debt page"
- var sidebar = true
- var mockup = true
- var dir = "../../"

doctype html
html
	head
		meta(content="text/html; charset=utf-8", http-equiv="Content-Type")
		meta(charset="utf-8")
		meta(content="IE=edge", http-equiv="X-UA-Compatible")
		meta(name="keywords")
		meta(name="description")

		title Citizens Advice financial statement

		// Mobile Specific Metas
		meta(content="width=device-width, initial-scale=1, maximum-scale=2.0", name="viewport")
		meta(content="48a2415d-980f-4763-a5b9-e10e000636b3", name="cab-guid")
		meta(content="EWS", name="cab-extent")
		meta(content="#{dir}static/images/apple-touch-icon.png")
		meta(content="B53C5C20449FC2233D3862B4DBEDFA3E", name="msvalidate.01")

		// Stylesheets
		link(href="#{dir}css/guide.css", rel="stylesheet")
		link(href="#{dir}images/favicon/32.png", rel="shortcut icon")
		link(href="#{dir}images/favicon/228.png", rel="apple-touch-icon")

		style.
			#financial-statement {
				font-size: 14px;
				margin: 10mm auto;
				min-height: 297mm;
				width: 210mm;
				padding: 20mm;
				-webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.23);
				-moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.23);
				box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.23);
			}

	body
		#financial-statement
			p London Borough of Bromley
				br
				| Electoral Services
				br
				| Civic Centre
				br
				| Stockwell Close
				br
				| Bromley
				br
				| BR1 3UH
			p &nbsp;
			p Please accept this communication as instructions to remove the above address from receiving all unaddressed items.
			p I understand that I may miss information from local or national government or other publications that are sent using this service.
			p &nbsp;
			p Your name
				br
				| 1 Road name
				br
				| Townname
				br
				| A1A1 A1A
				br
				| email@address.com