block settings
	- var title = "The Team"
	- var sidebar = true
	- var dir = "../../"
	- var blogname = "Digital Blog"
	- var blog = true
	- var nofooter = true

extends /jade/templates/template-site.jade

block sidebar
	include /jade/templates/partials/sidebar-blog.jade

block content
	.articleContent
		.flex-container
			h2.col-xs-12 Management
			.flex-row
				.col-xs-6
					.team
						a(href="blog-team-profile.html")
							.avatar-full
								img(src="#{dir}images/dev/sample-blog/avatar.png" alt="That Person")
							.avatar-title
								h3(href="blog-team-profile.html") That Person
								p Manager
				.col-xs-6
					.team
						a(href="blog-team-profile.html")
							.avatar-full
								img(src="#{dir}images/dev/sample-blog/avatar.png" alt="That Person")
							.avatar-title
								h3(href="blog-team-profile.html") That Person
								p Manager
				.col-xs-6
					.team
						a(href="blog-team-profile.html")
							.avatar-full
								img(src="#{dir}images/dev/sample-blog/avatar.png" alt="That Person")
							.avatar-title
								h3(href="blog-team-profile.html") That Person
								p Manager
				.col-xs-6
					.team
						a(href="blog-team-profile.html")
							.avatar-full
								img(src="#{dir}images/dev/sample-blog/avatar.png" alt="That Person")
							.avatar-title
								h3(href="blog-team-profile.html") That Person
								p Manager
			h2.col-xs-12 Content
			.flex-row
				.col-xs-6
					.team
						a(href="blog-team-profile.html")
							.avatar-full
								img(src="#{dir}images/dev/sample-blog/avatar.png" alt="That Person")
							.avatar-title
								h3(href="blog-team-profile.html") That Person
								p Content Designer
				.col-xs-6
					.team
						a(href="blog-team-profile.html")
							.avatar-full
								img(src="#{dir}images/dev/sample-blog/avatar.png" alt="That Person")
							.avatar-title
								h3(href="blog-team-profile.html") That Person
								p Content Designer
				.col-xs-6
					.team
						a(href="blog-team-profile.html")
							.avatar-full
								img(src="#{dir}images/dev/sample-blog/avatar.png" alt="That Person")
							.avatar-title
								h3(href="blog-team-profile.html") That Person
								p Content Designer
				.col-xs-6
					.team
						a(href="blog-team-profile.html")
							.avatar-full
								img(src="#{dir}images/dev/sample-blog/avatar.png" alt="That Person")
							.avatar-title
								h3(href="blog-team-profile.html") That Person
								p Content Designer
				.col-xs-6
					.team
						a(href="blog-team-profile.html")
							.avatar-full
								img(src="#{dir}images/dev/sample-blog/avatar.png" alt="That Person")
							.avatar-title
								h3(href="blog-team-profile.html") That Person
								p Content Designer
				.col-xs-6
					.team
						a(href="blog-team-profile.html")
							.avatar-full
								img(src="#{dir}images/dev/sample-blog/avatar.png" alt="That Person")
							.avatar-title
								h3(href="blog-team-profile.html") That Person
								p Content Designer
				.col-xs-6
					.team
						a(href="blog-team-profile.html")
							.avatar-full
								img(src="#{dir}images/dev/sample-blog/avatar.png" alt="That Person")
							.avatar-title
								h3(href="blog-team-profile.html") That Person
								p Content Designer
				.col-xs-6
					.team
						a(href="blog-team-profile.html")
							.avatar-full
								img(src="#{dir}images/dev/sample-blog/avatar.png" alt="That Person")
							.avatar-title
								h3(href="blog-team-profile.html") That Person
								p Content Designer
				.col-xs-6
					.team
						a(href="blog-team-profile.html")
							.avatar-full
								img(src="#{dir}images/dev/sample-blog/avatar.png" alt="That Person")
							.avatar-title
								h3(href="blog-team-profile.html") That Person
								p Content Designer
				.col-xs-6
					.team
						a(href="blog-team-profile.html")
							.avatar-full
								img(src="#{dir}images/dev/sample-blog/avatar.png" alt="That Person")
							.avatar-title
								h3(href="blog-team-profile.html") That Person
								p Content Designer
				.col-xs-6
					.team
						a(href="blog-team-profile.html")
							.avatar-full
								img(src="#{dir}images/dev/sample-blog/avatar.png" alt="That Person")
							.avatar-title
								h3(href="blog-team-profile.html") That Person
								p Content Designer
			h2.col-xs-12 Design
			.flex-row
				.col-xs-6
					.team
						a(href="blog-team-profile.html")
							.avatar-full
								img(src="#{dir}images/dev/sample-blog/avatar.png" alt="That Person")
							.avatar-title
								h3(href="blog-team-profile.html") That Person
								p Designer
				.col-xs-6
					.team
						a(href="blog-team-profile.html")
							.avatar-full
								img(src="#{dir}images/dev/sample-blog/avatar.png" alt="That Person")
							.avatar-title
								h3(href="blog-team-profile.html") That Person
								p Designer
