block settings
	//- var title = "Citizens Advice digital blog"
	- var sidebar = true
	- var dir = "../../"
	- var blogname = "Digital Blog"
	- var blog = true
	- var nofooter = true

extends /jade/templates/template-site.jade

block sidebar
	include /jade/templates/partials/sidebar-blog.jade

block content
	.articleContent
		.flex-container.flex-row
			.blog-home--article-newest
				img(src="#{dir}images/dev/sample-blog/problems.jpg" alt="PIP feature image")
				h2 #[a(href="blog-post.html") When the evidence is against you]
				.excerpt
					p Publish and be damned? Not when the evidence says no.
					p When the workplace rights team began writing new content about pay, our research showed the first thing most advisers did was check someone’s employment status.
					p Employment what?
					p Turns out, most people don’t know what employment status is. As we learned over and over during testing.

			//.blog-home--article
				h2 #[a(href="blog-post.html") When the evidence is against you]
				p.small #[a(href="#") Carole Ray] on July 1, 2016 in #[a(href="#") Content], #[a(href="#") Testing]
				img(src="#{dir}images/dev/sample-blog/problems.jpg" alt="Imigration feature image")
				p Publish and be damned? Not when the evidence says no.
				p When the workplace rights team began writing new content about pay, our research showed the first thing most advisers did was check someone’s employment status.
				//a.btn-secondary.btn-small(href="#", type="button") Read full article

			.blog-home--article
				h2 #[a(href="blog-post.html") How to run a spike]
				p.small #[a(href="#") Carole Ray] on June 10, 2016 in #[a(href="#") Content]
				img(src="#{dir}images/dev/sample-blog/adviser-needs.jpg" alt="Imigration feature image")
				p What’s a ‘spike’, you ask?
				p Very good question! And one we asked as well, when Simon, our Content Lead, asked us to do one.
				p A spike (as it turns out) is intensive time-limited work looking at resolving a particular problem or issue.
				//a.btn-secondary.btn-small(href="#", type="button") Read full article

			.blog-home--article
				h2 #[a(href="blog-post.html") The way we write]
				p.small #[a(href="#") Alec Johnson] on May 20, 2016 in #[a(href="#") Design], #[a(href="#") Content]
				img(src="#{dir}images/dev/sample-blog/employment-support-allowance.jpg" alt="Imigration feature image")
				p They say writing is a solitary activity. Whoever ‘they’ are.
				p Sometimes it is. There are plenty of lonesome desks where people tap away in isolation.
				//a.btn-secondary.btn-small(href="#", type="button") Read full article

			.blog-home--article
				h2 #[a(href="blog-post.html") Benefit checker, our first review]
				p.small #[a(href="#") Eliot Hill] on May 12, 2016 in #[a(href="#") Design], #[a(href="#") Content]
				img(src="#{dir}images/dev/sample-blog/need-more-help.jpg" alt="Imigration feature image")
				p The benefits system is confusing. There’s a lot of information out there so it can be hard for people to know where to start. Add to that the stressful situations people are often in when they need to claim benefits and it creates a perfect storm.
				//a.btn-secondary.btn-small(href="#", type="button") Read full article

			.blog-home--article
				h2 #[a(href="blog-post.html") Casebook on tour]
				p.small #[a(href="#") Cat Togher] on May 6, 2016 in #[a(href="#") Case management], #[a(href="#") Casebook], #[a(href="#") Research], #[a(href="#") Testing]
				img(src="#{dir}images/dev/sample-blog/wb-adviceguide-dashboard.jpg" alt="Imigration feature image")
				p Peanuts are not nuts*. Welsh cakes don’t dip well in tea. Paddington station is very confusing. Ambulance response time in Peterborough can be up to 20 mins.
				//a.btn-secondary.btn-small(href="#", type="button") Read full article

		//.flex-container.flex-row
			.col-xs-12.col-md-6.blog-home--excerpt
				.card-image-top
					img(src="#{dir}images/dev/sample-blog/For-blog-post-featured-images.png" alt="Imigration feature image")
				.card-text
					h3 #[a(href="#") Introducing… immigration advice]
					p We’ve launched immigration advice for the public and advisers. It’s new territory – so why did we take the leap?
			.col-xs-12.col-md-6.blog-home--excerpt
				.card-image-top
					img(src="#{dir}images/dev/sample-blog/For-blog-post-featured-images.png" alt="Imigration feature image")
				.card-text
					h3 #[a(href="#") Introducing… immigration advice]
					p We’ve launched immigration advice for the public and advisers. It’s new territory – so why did we take the leap?

		.flex-container.flex-row
			.col-xs-12.pagination
				ul
					li.active
						span 1
					li #[a(href="https://www.citizensadvice.org.uk/resources-and-tools/navigation-tools/Search/?q=esa&page=2") 2]
					li #[a(href="https://www.citizensadvice.org.uk/resources-and-tools/navigation-tools/Search/?q=esa&page=3") 3]
					li #[a(href="https://www.citizensadvice.org.uk/resources-and-tools/navigation-tools/Search/?q=esa&page=2") Next]
					li #[a(href="https://www.citizensadvice.org.uk/resources-and-tools/navigation-tools/Search/?q=esa&page=3") Last]