mixin link(title, href, text)
	a(href=href ? href : '#', title!= title ? title : text)&attributes(attributes)!= text ? text : title

mixin breadcrumbs(obj)
	.main-breadcrumb__content
		- var n = obj.length
		- each item,index in obj
			- if(index < n-1) {
			span.breadcrumb__item
				+link(item.title, item.href, item.text)
				i.icon-guillemet-right
			- } else {
			span.breadcrumb__item!= item.text ? item.text : item.title
			- }

mixin sidebar(obj, key)
	nav.section-nav
		ul
			li.section-nav__button In this section
			li.section-nav__heading.-active.-open
				a(href="../##{section}")
					span #{section}
			li
				ul
					- each item,index in obj
						- active = index === key ? "-current": ""
						li.section-nav__sibling
							+link(item.title, item.href, item.text)(class=active)

mixin sidebarSiblings(obj, key)
	nav.section-nav.sibling
		ul
			li.section-nav__heading.-active.-open
				a
					span #{section}
			li
				ul
					- each item,index in obj
						- active = index === key ? "-current": ""
						li.section-nav__sibling
							+link(item.title, item.href, item.text)(class=active)