// Template for new website style mockups
//
// VARIABLES
//
// dir
// The related reference for assets such as images and styles.
//
// title
// The page title. If exists will show as the page title.
//
// cookiemonster
// If true will show the cookiemonster banner at the bottom of the screen.
//
// blog
// If true show the blog headers.
//
// sidebar
// If true show the sidebar block.
//
// toolbar
// If true show the toolbar above content.
//
// toolbar > sharebar
// If true show the sharebar below content.
//
// fullpage
// If true remove the page width cap, allowing full width colour bars.
//
// BLOCKS
//
// head
// A block for anything that should be just before the </head> tag.
//
// breadcrumbs
// A block for including the breadcrumbs mixin.
//
// section-notice
// A block for section notice content.
//
// content
// The main content block.
//
// sidebar
// A block for sidebar mixin/content.
//
// script
// A block for placing html before the </body> tag.
//
// local
// A block for local burear branding mockups

include mixins.jade
block settings
doctype html
html.no-js
	head
		meta(content="text/html; charset=utf-8", http-equiv="Content-Type")
		meta(charset="utf-8")
		meta(content="IE=edge", http-equiv="X-UA-Compatible")
		meta(name="keywords")
		meta(name="description")
		//base(href="#{dir}")

		title Citizens Advice style guide
			- if (typeof title !== "undefined")
				| - #{title}

		// Mobile Specific Metas
		meta(content="width=device-width, initial-scale=1, maximum-scale=2.0", name="viewport")
		meta(content="48a2415d-980f-4763-a5b9-e10e000636b3", name="cab-guid")
		meta(content="EWS", name="cab-extent")
		meta(content="#{dir}static/images/apple-touch-icon.png")
		meta(content="B53C5C20449FC2233D3862B4DBEDFA3E", name="msvalidate.01")

		// Stylesheets
		link(href="#{dir}css/guide.css", rel="stylesheet")
		link(href="#{dir}images/favicon/32.png", rel="shortcut icon")
		link(href="#{dir}images/favicon/228.png", rel="apple-touch-icon")

		script
			include ../js/head.js

		block head

	body
		<!--[if IE 8]><div class="ie8"><![endif]-->
		.skip-nav
			a.screenreader.screenreader--focusable Skip to content
			a.screenreader.screenreader--focusable Skip to footer

		if cookiemonster
			.cookie-monster.hide-no-cookies.hide-no-js.no-print
				.cookie-monster__content
					p This site uses cookies. Find out more about #[a(href="#") our use of cookies].
					button.btn.cookie-monster__close(data-action="close", type="button") Close

		if blog
			header.blog-header
				.blog-header--content
					a(href="blog-home.html", style="border: none;")
						img.wide(src="#{dir}images/ca-logo-hz-white-280px.svg")
						img.slim(src="#{dir}images/ca-logo-st-white-220px.svg")

					//#toggle
					//ul.blog-navigation
						li
							a(href="blog-team.html") The Team
						li
							a(href="#") About
						li
							a(href="blog-get-involved.html") Get involved
						li
							a(href="blog-jobs.html") Jobs

					.blog-header--branding
						a(href="#") #{blogname}

				.blog-header--branding
					p Blog
					h1 Policy blog

		else
			header#main-nav-beta
				.branding
					.content
						ul
							li
								a.icon-local(href="locator.html") Find a local Citizens Advice
							li(href="#")
								a Cymraeg
							li(href="#")
								a Sign in
				.navigation
					.content
						a.logo(href="#{dir}index.html")
							img.wide(src="#{dir}images/ca-logo-hz-280px.svg")
							img.slim(src="#{dir}images/ca-logo-st-220px.svg")

						ul
							li#get-advice
								a(href="#")
									span Get&nbsp;
									span Advice
							li#get-involved
								a(href="#")
									span Get&nbsp;
									span Involved
							li#search-toggle
								a(href="#")
									i.icon-search

						.search
							.field-group.field-group--buttons
								input#field(type="search", placeholder="Search")
								button.btn
									i.icon-search

			#main-nav-beta--search
				.field-group.field-group--buttons
					input#field(type="search", placeholder="Search")
					button.btn
						i.icon-search

			#main-nav-beta--advice
				.content
					ul
						li
							a(href="group.html") Benefits
							br
							| Benefit eligibility and calculators. Applying and problems with applications.
						li
							a(href="") Work
							br
							| Rights at work, workplace discrimination, self-employment, rules and regulations of work.
						li
							a(href="") Debt and money
							br
							| Dealing with debts and arrears, budgeting, mortgages and pension services.
						li
							a(href="") Consumer
							br
							| The law and your rights when purchasing goods and services.
						li
							a(href="") Relationship
							br
							| Marriage, divorce, partnerships and looking after people. Births, deaths and wills.
						li
							a(href="") Housing
							br
							| Renting or buying a house, tenancy agreements and your rights as a homeowner or tenant.
						li
							a(href="") Law and rights
							br
							| Legal and civil rights, policing, the prison system and witness services.
						li
							a(href="") Discrimination
							br
							| Types of discrimination, steps to take if you have been discriminated against.
						li
							a(href="") Tax
							br
							| Taxable income, payments, refunds and problems. Council, pensioners and inheritance tax.
						li
							a(href="") Healthcare
							br
							| Help with NHS and dental. Private, alternative and armed forces healthcare.
						li
							a(href="") Education
							br
							| School and higher education, support for learning, discrimination and financial advice.

			#main-nav-beta--involved
				.content
					ul
						li
							a(href="") About Citizens Advice
						li
							a(href="") Contact us
						li
							a(href="") Policy research
						li
							a(href="") Our blogs
						li
							a(href="") Campaigns
						li
							a(href="") How Citizens Advice works
						li
							a(href="") Volunteer
						li
							a(href="") Jobs
						li
							a(href="") Press releases
						li
							a(href="") Support us
						li
							a(href="") The difference we make
						li
							a(href="") Find your local Citizens Advice

		.main-container
			block local

			nav.main-breadcrumb
				block breadcrumbs

			block section-notice

			if fullpage
				block content
			else
				.main-content
					if sidebar
						.main-content__right(id="main", role="main")
							if title
								.title
									h1.title__heading.js-ref
										span.title__title #{title}
							if toolbars
								include toolbar.jade
								block content
								if sharebar
									include sharebar.jade
							else
								block content

						block sidebar
					else
						.title
							h1.title__heading.js-ref
								span.title__title #{title}
						block content

		if feedback
			aside.footer-feedback
				block feedback
					h2.screenreader Feedback
					.footer-feedback__content
						p Is there anything wrong with this page? #[a.a-external(href="#") Let us know].

		#footer.main-footer(data-track-zone="footer")
			if !nofooter
				.footer-content.flex-row
					.flex-column.col-xs-12.col-md-9
						h3 Get Advice
						.flex-row(style="padding: 0;")
							.col-xs-12.col-sm-4
								ul
									li #[a(href="#") Benefits]
									li #[a(href="#") Work]
									li #[a(href="#") Debt and money]
									li #[a(href="#") Consumer]

							.col-xs-12.col-sm-4
								ul
									li #[a(href="#") Relationships]
									li #[a(href="#") Housing]
									li #[a(href="#") Law and rights]
									li #[a(href="#") Discrimination]

							.col-xs-12.col-sm-4
								ul
									li #[a(href="#") Tax]
									li #[a(href="#") Healthcare]
									li #[a(href="#") Education]
									li #[a(href="#") A to Z of advice]

					.flex-column.col-xs-12.col-md-3
						h3 Information
						ul
							li #[a(href="#") Help]
							li #[a(href="#") Cymraeg]
							li #[a(href="#") Terms and conditions]
							li #[a(href="#") Privacy and cookies]

			.footer--legal
				.footer--legal--content
					img(alt="", src="#{dir}images/ca_wo-logo-100px.svg")
					p
						| Copyright © 2016 Citizens Advice, an operating name of the National Association of Citizens Advice Bureaux.
						br
						| Registered charity number 279057; Registered in England 1436945; VAT number GB726020276. 3rd Floor North, 200 Aldersgate, London, EC1A 4HD

		<!--[if IE 8]></div><![endif]-->
		script(src="#{dir}js/vendor/jquery-1.11.3.min.js")
		script(src="#{dir}js/translate.js")
		script(src="#{dir}js/jquery.fn.cssSlide.js")
		script(src="#{dir}js/revealable.js")
		script(src="#{dir}js/prism.js")
		//script(src="#{dir}js/smooth.js")
		script(src="#{dir}js/jquery.fn.top-sticky.js")
		//script(src="#{dir}js/advisor.js")
		script(src="#{dir}js/sidebar.js")
		//script(src="#{dir}js/core.js")
		if !blog
			script.
				var filename = document.location.pathname.match(/[^\/]+$/)[0];
				$(document).ready(function() {
					$('.section-nav a[href*="' + filename + '"]').addClass('active');

					// Click #get-advice
					$('#get-advice').click(function(){
						// If either of the other two are active
						if ($('#get-involved').hasClass("active") || $('#search-toggle').hasClass("active")) {
							// Remove class from other two
							$('#get-involved').removeClass("active");
							$('#search-toggle').removeClass("active");
							// Slide other two up
							$('#main-nav-beta--involved').slideUp('fast');
							$('#main-nav-beta--search').slideUp('fast');
							// Wait 250ms and then slide down
							$('#main-nav-beta--advice').delay(250).slideDown('fast');

						} else {
							$('#main-nav-beta--advice').slideToggle('fast');
						}
						$(this).toggleClass("active");
					});

					// Click #get-advice
					$('#get-involved').click(function(){
						// If either of the other two are active
						if ($('#get-advice').hasClass("active") || $('#search-toggle').hasClass("active")) {
							// Remove class from other two
							$('#get-advice').removeClass("active");
							$('#search-toggle').removeClass("active");
							// Slide other two up
							$('#main-nav-beta--advice').slideUp('fast');
							$('#main-nav-beta--search').slideUp('fast');
							// Wait 250ms and then slide down
							$('#main-nav-beta--involved').delay(250).slideDown('fast');

						} else {
							$('#main-nav-beta--involved').slideToggle('fast');
						}
						$(this).toggleClass("active");
					});

					// Click #get-advice
					$('#search-toggle').click(function(){
						// If either of the other two are active
						if ($('#get-involved').hasClass("active") || $('#get-advice').hasClass("active")) {
							// Remove class from other two
							$('#get-advice').removeClass("active");
							$('#get-involved').removeClass("active");
							// Slide other two up
							$('#main-nav-beta--involved').slideUp('fast');
							$('#main-nav-beta--advice').slideUp('fast');
							// Wait 250ms and then slide down
							$('#main-nav-beta--search').delay(250).slideDown('fast');

						} else {
							$('#main-nav-beta--search').slideToggle('fast');
						}
						$(this).toggleClass("active");
					});
				});
		block script
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-8734782-29', 'auto');
			ga('send', 'pageview');