include mixins.jade
block settings
doctype html
html.no-js
	head
		meta(content="text/html; charset=utf-8", http-equiv="Content-Type")
		meta(charset="utf-8")
		meta(content="IE=edge", http-equiv="X-UA-Compatible")
		meta(name="keywords")
		meta(name="description")

		title
			- if (typeof title !== "undefined")
				| #{title}

		// Mobile Specific Metas
		meta(content="width=device-width, initial-scale=1, maximum-scale=2.0", name="viewport")
		meta(content="#{dir}static/images/apple-touch-icon.png")

		// Stylesheets
		link(href="#{dir}css/guide.css", rel="stylesheet")
		link(href="#{dir}images/favicon/32.png", rel="shortcut icon")
		link(href="#{dir}images/favicon/228.png", rel="apple-touch-icon")

		block head

	body
		<!--[if IE 8]><div class="ie8"><![endif]-->

		.main-container
			block content

		<!--[if IE 8]></div><![endif]-->
		script(src="#{dir}js/vendor/jquery-1.11.3.min.js")
		script(src="#{dir}js/translate.js")
		script(src="#{dir}js/jquery.fn.cssSlide.js")
		script(src="#{dir}js/revealable.js")
		script(src="#{dir}js/prism.js")
		script(src="#{dir}js/smooth.js")
		script(src="#{dir}js/jquery.fn.top-sticky.js")
		script(src="#{dir}js/clipboard.min.js")
		script.
			var clipboard = new Clipboard( '.a-social-copy', {
			    text: function(trigger) {
			        return window.location.href;
			    }
			});
			clipboard.on('success', function(e) {
				$( '.copied' ).fadeIn( 'fast' );
				$( '.copied' ).delay(400).queue(function(){
				    $( this ).fadeOut( 'fast' );
					$( this ).stop();
				});
			});

		block script