block settings
	- var title = "Compare energy suppliers’ customer service"
	//- var sidebar = true
	- var mockup = true
	- var toolbars = true
	- var dir = "../../"
	- var energyfeedback = true

extends /template/template.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: "#"},
		{title: "Energy", href: "#"},
		{title: title}])

block script
	script(src="#{dir}js/sorttable.js")
	script.
		$(document).ready(function() {
			$('.open-dialog.1').on('click', function(){
				$('#overlay1').show();
			})
			$('.open-dialog.1').keypress(function (e) {
				var key = e.which;
				if(key == 13) {
					$('#overlay1').show();
				}
			})
			$('.dialog__close.1').on('click', function(){
				$('#overlay1').hide();
			})
			$('.open-dialog.2').on('click', function(){
				$('#overlay2').show();
			})
			$('.open-dialog.2').keypress(function (e) {
				var key = e.which;
				if(key == 13) {
					$('#overlay2').show();
				}
			})
			$('.dialog__close.2').on('click', function(){
				$('#overlay2').hide();
			})
			$('.open-dialog.3').on('click', function(){
				$('#overlay3').show();
			})
			$('.open-dialog.3').keypress(function (e) {
				var key = e.which;
				if(key == 13) {
					$('#overlay3').show();
				}
			})
			$('.dialog__close.3').on('click', function(){
				$('#overlay3').hide();
			})

			$(".complaints").each(function() {
				var score = parseInt($(this).text().trim());
				if (score >= 0 && score <= 50) {
					$(this).html(5);
				} else if (score > 50 && score <= 100) {
					$(this).html(4);
				} else if (score > 100 && score <= 350) {
					$(this).html(3);
				} else if (score > 350 && score <= 550) {
					$(this).html(2);
				} else if (score > 550) {
					$(this).html(1);
				}
			})

			$(".service").each(function() {
				var score = parseInt($(this).text().trim());
				if (score > 0 && score <= 49) {
					$(this).html(1);
				} else if (score > 50 && score <= 59) {
					$(this).html(2);
				} else if (score > 60 && score <= 69) {
					$(this).html(3);
				} else if (score > 70 && score <= 74) {
					$(this).html(4);
				} else if (score > 74) {
					$(this).html(5);
				}
			})

			$(".billing").each(function() {
				var score = parseInt($(this).text().trim());
				if (score > 0 && score <= 49) {
					$(this).html(1);
				} else if (score > 50 && score <= 59) {
					$(this).html(2);
				} else if (score > 60 && score <= 69) {
					$(this).html(3);
				} else if (score > 70 && score <= 74) {
					$(this).html(4);
				} else if (score > 74) {
					$(this).html(5);
				}
			})

			$(".switching").each(function() {
				var score = parseInt($(this).text().trim());
				if (score > 0 && score <= 49) {
					$(this).html(1);
				} else if (score > 50 && score <= 74) {
					$(this).html(2);
				} else if (score > 74 && score <= 94) {
					$(this).html(3);
				} else if (score > 94 && score <= 99) {
					$(this).html(4);
				} else if (score >= 100) {
					$(this).html(5);
				}
			})

			$(".commitment").each(function() {
				var score = parseInt($(this).text().trim());
				if (score == 0) {
					$(this).append('<br><img class="small-stars" src="#{dir}/images/dev/energy-comparison/rating-00.svg">');
				} else if (score == 3) {
					$(this).append('<br><img class="small-stars" src="#{dir}/images/dev/energy-comparison/rating-30.svg">');
				}
			})

			$(".rating").each(function() {
				var score = parseFloat($(this).text());
				if (score > 0 && score <= 1) {
					$(this).append('<br><img src="#{dir}/images/dev/energy-comparison/rating-10.svg">');
				} else if (score > 1 && score <= 2) {
					$(this).append('<br><img src="#{dir}/images/dev/energy-comparison/rating-20.svg">');
				} else if (score > 2 && score <= 2.5) {
					$(this).append('<br><img src="#{dir}/images/dev/energy-comparison/rating-25.svg">');
				} else if (score > 2.5 && score <= 3) {
					$(this).append('<br><img src="#{dir}/images/dev/energy-comparison/rating-30.svg">');
				} else if (score > 3 && score <= 3.5) {
					$(this).append('<br><img src="#{dir}/images/dev/energy-comparison/rating-35.svg">');
				} else if (score > 3.5 && score <= 4) {
					$(this).append('<br><img src="#{dir}/images/dev/energy-comparison/rating-40.svg">');
				} else if (score > 4 && score <= 4.5) {
					$(this).append('<br><img src="#{dir}/images/dev/energy-comparison/rating-45.svg">');
				} else if (score > 4.5 && score <= 5) {
					$(this).append('<br><img src="#{dir}/images/dev/energy-comparison/rating-50.svg">');
				}
			})

			/*$(".complaints, .service, .billing, .switching").each(function() {
				var score = parseFloat($(this).text());
				if (score > 0 && score <= 1) {
					$(this).append('<span style="color:#808080;font-weight:normal"> stars</span>');
				} else if (score > 1 && score <= 2) {
					$(this).append('<span style="color:#808080;font-weight:normal"> stars</span>');
				} else if (score > 2 && score <= 2.5) {
					$(this).append('<span style="color:#808080;font-weight:normal"> stars</span>');
				} else if (score > 2.5 && score <= 3) {
					$(this).append('<span style="color:#808080;font-weight:normal"> stars</span>');
				} else if (score > 3 && score <= 3.5) {
					$(this).append('<span style="color:#808080;font-weight:normal"> stars</span>');
				} else if (score > 3.5 && score <= 4) {
					$(this).append('<span style="color:#808080;font-weight:normal"> stars</span>');
				} else if (score > 4 && score <= 4.5) {
					$(this).append('<span style="color:#808080;font-weight:normal"> stars</span>');
				} else if (score > 4.5 && score <= 5) {
					$(this).append('<span style="color:#808080;font-weight:normal"> stars</span>');
				}
			})*/

			$(".complaints, .service, .billing, .switching").each(function() {
				var score = parseFloat($(this).text());
				if (score > 0 && score <= 1) {
					$(this).append('<br><img class="small-stars" src="#{dir}/images/dev/energy-comparison/rating-10.svg">');
				} else if (score > 1 && score <= 2) {
					$(this).append('<br><img class="small-stars" src="#{dir}/images/dev/energy-comparison/rating-20.svg">');
				} else if (score > 2 && score <= 2.5) {
					$(this).append('<br><img class="small-stars" src="#{dir}/images/dev/energy-comparison/rating-25.svg">');
				} else if (score > 2.5 && score <= 3) {
					$(this).append('<br><img class="small-stars" src="#{dir}/images/dev/energy-comparison/rating-30.svg">');
				} else if (score > 3 && score <= 3.5) {
					$(this).append('<br><img class="small-stars" src="#{dir}/images/dev/energy-comparison/rating-35.svg">');
				} else if (score > 3.5 && score <= 4) {
					$(this).append('<br><img class="small-stars" src="#{dir}/images/dev/energy-comparison/rating-40.svg">');
				} else if (score > 4 && score <= 4.5) {
					$(this).append('<br><img class="small-stars" src="#{dir}/images/dev/energy-comparison/rating-45.svg">');
				} else if (score > 4.5 && score <= 5) {
					$(this).append('<br><img class="small-stars" src="#{dir}/images/dev/energy-comparison/rating-50.svg">');
				}
			})

		});

block content
	.articleContent
		.flex-row
			.col-md-8
				p Price isn’t the only thing to think about when choosing an energy supplier. It might be worth choosing a supplier that gets the fewest complaints, or one that’s easy to contact - even if they’re a bit more expensive.

				p To help you make that choice, we’ve compared suppliers across 5 different categories and ranked them according to how good their customer service is.

				p We’ve given them an overall rating out of 5 - 1 being poor and 5 being excellent. If you want to see how they rank by category, click on the title of that category and the table will be re-ordered.

				p You can see more about each supplier and their score by clicking on their name.

				.callout--alert
					p If a supplier doesn’t have a star rating it means we don’t have enough information to rate them yet.

				p #[a.blocklink(href="https://energycompare.citizensadvice.org.uk/") There’s a separate tool for comparing energy prices.]

		h2 Rating for March - June 2016

		table.sortable.energy-comparison
			thead
				tr
					th.col-rank.sorttable_numeric.sorttable_sorted_reverse(scope="col", tabindex="0") Rank
					th.col-supp(scope="col", tabindex="0") Supplier
					th.lg-only(scope="col", tabindex="0") Complaints
					th.lg-only(scope="col", tabindex="0") Ease of contact
					th.lg-only(scope="col", tabindex="0") Bill clarity
					th.lg-only(scope="col", tabindex="0") Ease of switching
					th.lg-only(scope="col", tabindex="0") Switch Guarantee
					th.col-rate(scope="col", tabindex="0") Overall rating
			tbody
				tr.open-dialog.1(tabindex="0")
					td.increase
						span.inline-badge 1
					td Supplier A
					td.complaints 40.6
					td.service 57.89%
					td.billing 23.78%
					td.switching 80.94%
					td.commitment Yes
					//td.rating 3
					td.rating 5
				tr.open-dialog.1(tabindex="0")
					td.increase
						span.inline-badge 2
					td Supplier B
					td.complaints 70.4
					td.service 67.89%
					td.billing 56.8%
					td.switching 100%
					td.commitment Yes
					//td.rating 3.25
					td.rating 4
				tr.open-dialog.1(tabindex="0")
					td.decrease
						span.inline-badge 3
					td Supplier C
					td.complaints 140.7
					td.service 92.67%
					td.billing 82.34%
					td.switching 74.68%
					td.commitment Yes
					//td.rating 4
					td.rating 3.5
				tr.open-dialog.1(tabindex="0")
					td
						span.inline-badge 4
					td Supplier D
					td.complaints 35.7
					td.service 65.01%
					td.billing 57.86%
					td.switching 91.35%
					td.commitment No
					//td.rating 3
					td.rating 3.25
				tr.open-dialog.1(tabindex="0")
					td.decrease
						span.inline-badge 5
					td Supplier E
					td.complaints 80.8
					td.service 54.67%
					td.billing 74.67%
					td.switching 100%
					td.commitment Yes
					//td.rating 3.5
					td.rating 3.25
				tr.open-dialog.1(tabindex="0")
					td.increase
						span.inline-badge 6
					td Supplier F
					td.complaints 405.6
					td.service 62.2%
					td.billing 45.67%
					td.switching 60.54%
					td.commitment Yes
					td.rating 3
				tr.open-dialog.1(tabindex="0")
					td.decrease
						span.inline-badge 7
					td Supplier G
					td.complaints 500.6
					td.service 85.75%
					td.billing 49.87%
					td.switching 96.8%
					td.commitment No
					td.rating 2.75
				tr.open-dialog.1(tabindex="0")
					td.decrease
						span.inline-badge 8
					td Supplier H
					td.complaints 230.5
					td.service 51.23%
					td.billing 45.67%
					td.switching 77.56%
					td.commitment Yes
					td.rating 2.75
				tr.open-dialog.1(tabindex="0")
					td.decrease
						span.inline-badge 9
					td Supplier I
					td.complaints 700.8
					td.service 74.79%
					td.billing 23.47%
					td.switching 98.7%
					td.commitment No
					td.rating 2.75
				tr.open-dialog.1(tabindex="0")
					td.decrease
						span.inline-badge 10
					td Supplier J
					td.complaints 460
					td.service 66.05%
					td.billing 61.2%
					td.switching 58.97%
					td.commitment No
					td.rating 2.5
				tr.open-dialog.1(tabindex="0")
					td.increase
						span.inline-badge 11
					td Supplier K
					td.complaints 90.4
					td.service 53.3%
					td.billing 61.5%
					td.switching 96.34%
					td.commitment Yes
					td.rating 2.5
				tr.open-dialog.1(tabindex="0")
					td.increase
						span.inline-badge 12
					td Supplier L
					td.complaints 46.8
					td.service 76.44%
					td.billing 25.67%
					td.switching 54.23%
					td.commitment Yes
					td.rating 2.5
				tr.open-dialog.1(tabindex="0")
					td.decrease
						span.inline-badge 13
					td Supplier M
					td.complaints 330.5
					td.service 30.56%
					td.billing 72.3%
					td.switching 97.89%
					td.commitment No
					td.rating 2.25
				tr.open-dialog.1(tabindex="0")
					td.increase
						span.inline-badge 14
					td Supplier N
					td.complaints 111.2
					td.service 68.79%
					td.billing 51.64%
					td.switching 97.4%
					td.commitment No
					td.rating 2.25
				tr.open-dialog.1(tabindex="0")
					td.decrease
						span.inline-badge 15
					td Supplier O
					td.complaints 546.9
					td.service 42.38%
					td.billing 80.67%
					td.switching 82.34%
					td.commitment Yes
					td.rating 2
				tr.open-dialog.1(tabindex="0")
					td.increase
						span.inline-badge 16
					td Supplier P
					td.complaints 55.4
					td.service 71.23%
					td.billing 67.56%
					td.switching 40.21%
					td.commitment No
					td.rating 2
				tr.open-dialog.1(tabindex="0")
					td
						span.inline-badge 17
					td Supplier Q
					td.complaints 800.7
					td.service 72.45%
					td.billing 76.45%
					td.switching 30.45%
					td.commitment No
					td.rating 1
				tr.open-dialog.2(tabindex="0")
					td(sorttable_customkey="99") -
					td Supplier R
					td.complaints 340.5
					td.service -
					td.billing -
					td.switching -
					td.commitment -
					td -
				tr.open-dialog.2(tabindex="0")
					td(sorttable_customkey="99") -
					td Supplier S
					td.complaints 375.6
					td.service -
					td.billing -
					td.switching -
					td.commitment Yes
					td -
				tr.open-dialog.2(tabindex="0")
					td(sorttable_customkey="99") -
					td Supplier T
					td.complaints 345.3
					td.service -
					td.billing -
					td.switching -
					td.commitment -
					td -
				tr.open-dialog.2(tabindex="0")
					td(sorttable_customkey="99") -
					td Supplier U
					td.complaints 950.6
					td.service -
					td.billing -
					td.switching -
					td.commitment -
					td -
				tr.open-dialog.2(tabindex="0")
					td(sorttable_customkey="99") -
					td Supplier V
					td.complaints -
					td.service -
					td.billing -
					td.switching -
					td.commitment Yes
					td -
				tr.open-dialog.3(tabindex="0")
					td(sorttable_customkey="100") -
					td Supplier W
					td(colspan="6") We don’t have enough information to rank this supplier
				tr.open-dialog.3(tabindex="0")
					td(sorttable_customkey="100") -
					td Supplier X
					td(colspan="6") We don’t have enough information to rank this supplier
				tr.open-dialog.3(tabindex="0")
					td(sorttable_customkey="100") -
					td Supplier Y
					td(colspan="6") We don’t have enough information to rank this supplier
				tr.open-dialog.3(tabindex="0")
					td(sorttable_customkey="100") -
					td Supplier Z
					td(colspan="6") We don’t have enough information to rank this supplier
				tr.open-dialog.3(tabindex="0")
					td(sorttable_customkey="100") -
					td Supplier AA
					td(colspan="6") We don’t have enough information to rank this supplier
				tr.open-dialog.3(tabindex="0")
					td(sorttable_customkey="100") -
					td Supplier AB
					td(colspan="6") We don’t have enough information to rank this supplier
				tr.open-dialog.3(tabindex="0")
					td(sorttable_customkey="100") -
					td Supplier AC
					td(colspan="6") We don’t have enough information to rank this supplier
				tr.open-dialog.3(tabindex="0")
					td(sorttable_customkey="100") -
					td Supplier AD
					td(colspan="6") We don’t have enough information to rank this supplier
				tr.open-dialog.3(tabindex="0")
					td(sorttable_customkey="100") -
					td Supplier AE
					td(colspan="6") We don’t have enough information to rank this supplier
				tr.open-dialog.3(tabindex="0")
					td(sorttable_customkey="100") -
					td Supplier AF
					td(colspan="6") We don’t have enough information to rank this supplier
				tr.open-dialog.3(tabindex="0")
					td(sorttable_customkey="100") -
					td Supplier AG
					td(colspan="6") We don’t have enough information to rank this supplier
				tr.open-dialog.3(tabindex="0")
					td(sorttable_customkey="100") -
					td Supplier AH
					td(colspan="6") We don’t have enough information to rank this supplier
				tr.open-dialog.3(tabindex="0")
					td(sorttable_customkey="100") -
					td Supplier AJ
					td(colspan="6") We don’t have enough information to rank this supplier
				tr.open-dialog.3(tabindex="0")
					td(sorttable_customkey="100") -
					td Supplier AK
					td(colspan="6") We don’t have enough information to rank this supplier
				tr.open-dialog.3(tabindex="0")
					td(sorttable_customkey="100") -
					td Supplier AL
					td(colspan="6") We don’t have enough information to rank this supplier
				tr.open-dialog.3(tabindex="0")
					td(sorttable_customkey="100") -
					td Supplier AM
					td(colspan="6") We don’t have enough information to rank this supplier
				tr.open-dialog.3(tabindex="0")
					td(sorttable_customkey="100") -
					td Supplier AN
					td(colspan="6") We don’t have enough information to rank this supplier
				tr.open-dialog.3(tabindex="0")
					td(sorttable_customkey="100") -
					td Supplier AO
					td(colspan="6") We don’t have enough information to rank this supplier
				tr.open-dialog.3(tabindex="0")
					td(sorttable_customkey="100") -
					td Supplier AP
					td(colspan="6") We don’t have enough information to rank this supplier
				tr.open-dialog.3(tabindex="0")
					td(sorttable_customkey="100") -
					td Supplier AQ
					td(colspan="6") We don’t have enough information to rank this supplier

		.flex-row
			.col-md-8
				a.blocklink(href="comparison-details.html") Find out how the scores are worked out

				p We don’t have enough information to rate all the suppliers listed on this page. We’ll rate them when that information becomes available.

		#overlay1.overlay(style="display:none")
			.dialog(role="alertdialog" aria-labelledby="dialog-1-label" aria-describedby="dialog-1-main" tabindex="-1" style="z-index: 3;")

				header.dialog__header
					h2#dialog-1-label.dialog__title Supplier A, March - June 2016
					button.dialog__close.1(type="button" data-action="close")<i aria-hidden="true" class="dialog__close-icon"></i><span class="dialog__close-text">Close</span>

				.dialog__main#dialog-1-main
					table
						tbody
							tr
								th(scope="row") Overall rating
								td(colspan="2").rating
									span 5
							tr
								th(scope="row", width="40%") Complaints to third parties
								td(width="40%") 40.6 customers of every 100,000
								td.complaints(width="20%")
									span 5
							tr
								th(scope="row") Customers who found contacting suppliers easy
								td 57.89%
								td.service
									span 2
							tr
								th(scope="row") Customers who found bills easy to understand
								td 53.78%
								td.billing
									span 5
							tr
								th(scope="row") Switches done in 21 days
								td 80.94%
								td.switching
									span 3
							tr
								th(scope="row") Customer guarantees
								td Signed to #[a(href="https://www.energyswitchguarantee.com/") Energy Switch Guarantee]
									img.switch-logo(src="#{dir}/images/dev/energy-comparison/energy-switch-guarantee-logo.jpg", alt="Energy Switch Guarantee")
								td.commitment
									span 3
					p
						a Supplier A's energy is supplied by Supplier G
					a.blocklink(href="comparison-details.html") How the scores are worked out
					h3 Contact information
					p
						| #[strong Telephone:] 0800 0480202
						br
						| #[strong Email:] #[a contact@suppliera.co.uk]
						br
						| #[strong Website:] #[a www.suppliera.co.uk]
						br
						| #[strong Web Chat:] n/a
						br
						| #[strong Ring backs:] n/a
						br
						| #[strong Mobile hotline:] n/a
						br
						| #[strong Minicom / Text:] 18001 0800 072 8626
					h3 Opening hours
					p
						| #[strong Monday:] 8am - 8pm
						br
						| #[strong Tuesday:] 8am - 8pm
						br
						| #[strong Wednesday:] 8am - 8pm
						br
						| #[strong Thursday:] 8am - 8pm
						br
						| #[strong Friday:] 8am - 8pm
						br
						| #[strong Saturday:] 8am - 8pm
						br
						| #[strong Sunday:] Closed
					h3 Billing information
					p
						| #[strong Direct debit:] yearly, every 6 months, quarterly, monthly, weekly
						br
						| #[strong Cah or cheque:] monthly, weekly


		#overlay2.overlay(style="display:none")
			.dialog(role="alertdialog" aria-labelledby="dialog-1-label" aria-describedby="dialog-1-main" tabindex="-1" style="z-index: 3;")

				header.dialog__header
					h2#dialog-1-label.dialog__title Supplier R
					button.dialog__close.2(type="button" data-action="close")<i aria-hidden="true" class="dialog__close-icon"></i><span class="dialog__close-text">Close</span>

				.dialog__main#dialog-1-main
					table
						tbody
							tr
								th(scope="row", width="40%") Complaints to third parties
								td(width="40%") 40.6 customers of every 100,000
								td.complaints(width="20%")
									span 3
					a.blocklink(href="comparison-details.html") How the scores are worked out
					h3 Contact information
					p
						| #[strong Telephone:] 0800 0480202
						br
						| #[strong Email:] #[a contact@suppliera.co.uk]
						br
						| #[strong Website:] #[a www.suppliera.co.uk]
						br
						| #[strong Web Chat:] n/a
						br
						| #[strong Ring backs:] n/a
						br
						| #[strong Mobile hotline:] n/a
						br
						| #[strong Minicom / Text:] 18001 0800 072 8626
					h3 Opening hours
					p
						| #[strong Monday:] 8am - 8pm
						br
						| #[strong Tuesday:] 8am - 8pm
						br
						| #[strong Wednesday:] 8am - 8pm
						br
						| #[strong Thursday:] 8am - 8pm
						br
						| #[strong Friday:] 8am - 8pm
						br
						| #[strong Saturday:] 8am - 8pm
						br
						| #[strong Sunday:] Closed
					h3 Billing information
					p
						| #[strong Direct debit:] yearly, every 6 months, quarterly, monthly, weekly
						br
						| #[strong Cah or cheque:] monthly, weekly


		#overlay3.overlay(style="display:none")
			.dialog(role="alertdialog" aria-labelledby="dialog-1-label" aria-describedby="dialog-1-main" tabindex="-1" style="z-index: 3;")

				header.dialog__header
					h2#dialog-1-label.dialog__title Supplier W
					button.dialog__close.3(type="button" data-action="close")<i aria-hidden="true" class="dialog__close-icon"></i><span class="dialog__close-text">Close</span>

				.dialog__main#dialog-1-main
					h3 Contact information
					p
						| #[strong Telephone:] 0800 0480202
						br
						| #[strong Email:] #[a contact@suppliera.co.uk]
						br
						| #[strong Website:] #[a www.suppliera.co.uk]
						br
						| #[strong Web Chat:] n/a
						br
						| #[strong Ring backs:] n/a
						br
						| #[strong Mobile hotline:] n/a
						br
						| #[strong Minicom / Text:] 18001 0800 072 8626
					h3 Opening hours
					p
						| #[strong Monday:] 8am - 8pm
						br
						| #[strong Tuesday:] 8am - 8pm
						br
						| #[strong Wednesday:] 8am - 8pm
						br
						| #[strong Thursday:] 8am - 8pm
						br
						| #[strong Friday:] 8am - 8pm
						br
						| #[strong Saturday:] 8am - 8pm
						br
						| #[strong Sunday:] Closed
					h3 Billing information
					p
						| #[strong Direct debit:] yearly, every 6 months, quarterly, monthly, weekly
						br
						| #[strong Cah or cheque:] monthly, weekly
