block settings
	- var title = "Get help with your debts"
	- var sidebar = true
	- var toolbars = true
	- var dir = "../../"

extends /template/template-site.jade

block breadcrumbs
	+breadcrumbs([
		{title: "Home", href: dir + "home.html"},
		{title: "Debt", href: dir + "#"},
		{title: "Prioritise your debts"}])

block sidebar
	//include /template/sidebar-site-content.jade

block content
	.articleContent
		p Deal with your debts by going through each step in this guide in order. 
		p The advice will help you decide:
		ul
			li what you should do first 
			li what you can deal with yourself
			li what you need might need specialist help with - and show you where to get this help
		p You can come back to this guide as you complete each step and are ready to move onto the next one.
		.callout--warning
			p If you've received court papers, are facing eviction or are expecting bailiffs (or sheriff officers in Scotland) contact your local Citizens Advice immediately in England and Wales, Scotland or Northern Ireland.

		a.blockLinks(href="#{dir}dev/debt/steps/step-1.html") Step 1 - Gather information for each debt

		a.blockLinks(href="#{dir}dev/debt/steps/step-2.html") Step 2 - Work out which debts are a priority

		a.blockLinks(href="#{dir}dev/debt/steps/step-3.html") Step 3 - Work out what you can afford to pay

		a.blockLinks(href="#{dir}dev/debt/steps/step-4.html") Step 4 - Contact your creditors

		a.blockLinks(href="#{dir}dev/debt/steps/after-your-budget.html") After you’ve worked out your budget

		.callout--related
			h3 Get more help
			p You can get free advice from one of our debt specialists. They can talk through your options and help you to find a solution. 
