include partials/header

	body
		<!--[if IE 8]><div class="ie8"><![endif]-->

		.main-container
			block content

		<!--[if IE 8]></div><![endif]-->
		script(src="#{dir}js/vendor/jquery-1.11.3.min.js")
		script(src="#{dir}js/translate.js")
		script(src="#{dir}js/jquery.fn.cssSlide.js")
		script(src="#{dir}js/revealable.js")
		script(src="#{dir}js/prism.js")
		script(src="#{dir}js/smooth.js")
		script(src="#{dir}js/jquery.fn.top-sticky.js")
		script(src="#{dir}js/clipboard.min.js")
		script.
			var clipboard = new Clipboard( '.a-social-copy', {
			    text: function(trigger) {
			        return window.location.href;
			    }
			});
			clipboard.on('success', function(e) {
				$( '.copied' ).fadeIn( 'fast' );
				$( '.copied' ).delay(400).queue(function(){
				    $( this ).fadeOut( 'fast' );
					$( this ).stop();
				});
			});

		block script
