block settings
    - var title = "Citizens Advice policy"
    //- var sidebar = true
    - var dir = "../../"
    //- var blogname = "Digital Blog"
    - var blog = true
    - var fullpage = true
    - var nofooter = true

extends /template/template-site.jade
block script
    script(src="#{dir}js/vendor/highcharts/highcharts.js")
    script(src="#{dir}js/vendor/highcharts/modules/exporting.js")

    script.
        // Create overview chart
        $(function () {
            var chart = new Highcharts.Chart({
                colors: ['#004B88', '#FCBB69', '#57486B', '#A6D6AE', '#006278', '#006278', '#FCCEBA'],
                chart: {
                    type: 'column',
                    renderTo: 'overview-chart',
                    backgroundColor:'rgba(255,255,255,0)'
                },
                title: {
                    text: null
                },
                xAxis: {
                    labels: {
                        enabled: false
                    }
                },
                yAxis: {
                    title:
                    {
                        enabled: false
                    }
                },
                tooltip: {
                    formatter: function () {
                        return this.series.name + ': <b>' + Highcharts.numberFormat(this.y,2,'.',',') + '%</b>';
                    }
                },
                credits: {
                    enabled: false
                },
                series: [{
                    name: 'Complain of a fault',
                    data: [53]
                },
                        {
                    name: 'Don&#39;t complain',
                    data: [47]
                }],
                navigation: {
                    buttonOptions: {
                        enabled: false
                    }
                }
            });
        });

        // Create personal factors security chart
        $(function () {
            var chart = new Highcharts.Chart({
                colors: ['#003c64', '#004b88', '#a5bddc', '#C9D1E5', '#caeaff', '#002d4a', '#e76568', '#87c3d0'],
                chart: {
                    type: 'column',
                    renderTo: 'security-chart',
                    backgroundColor:'rgba(255,255,255,0)'
                },
                title: {
                    text: false
                },
                xAxis: {
                    title:{
                        text: 'Personal factors',
                    }
                },
                yAxis: {
                    title:
                    {
                        enabled: false
                    }
                },
                tooltip: {
                    formatter: function () {
                        return this.series.name + ': <b>' + Highcharts.numberFormat(this.y,2,'.',',') + '%</b>';
                    }
                },
                credits: {
                    enabled: false
                },
                series: [{
                    name: 'Steady income',
                    data: [87]
                },
                        {
                    name: 'Successful company',
                    data: [74]
                },
                        {
                    name: 'Good Manager',
                    data: [72]
                },
                        {
                    name: 'Regular hours',
                    data: [71]
                },
                        {
                    name: 'Partner with a steady income',
                    data: [70]
                }],
                navigation: {
                    buttonOptions: {
                        enabled: false
                    }
                }
            });
        });

        // Create local factors security chart
        $(function () {
            var chart = new Highcharts.Chart({
                colors: ['#fba437', '#ffbf47', '#fcbb67', '#fee4c3', '#caeaff', '#002d4a', '#e76568', '#87c3d0'],
                chart: {
                    type: 'column',
                    renderTo: 'security-local-chart',
                    backgroundColor:'rgba(255,255,255,0)'
                },
                title: {
                    text: false
                },
                xAxis: {
                    title:{
                        text: 'Local factors',
                    }
                },
                yAxis: {
                    allowDecimals: false,
                    min: 0,
                    max: 100,
                    title:
                    {
                        enabled: false
                    }
                },
                tooltip: {
                    formatter: function () {
                        return this.series.name + ': <b>' + Highcharts.numberFormat(this.y,2,'.',',') + '%</b>';
                    }
                },
                credits: {
                    enabled: false
                },
                series: [{
                    name: 'Police presence',
                    data: [54]
                },
                        {
                    name: 'Thriving high street',
                    data: [49]
                }],
                navigation: {
                    buttonOptions: {
                        enabled: false
                    }
                }
            });
        });

        // Create national factors security chart
        $(function () {
            var chart = new Highcharts.Chart({
                colors: ['#b9db9d', '#d3e8c1', '#fcbb67', '#fee4c3', '#caeaff', '#002d4a', '#e76568', '#87c3d0'],
                chart: {
                    type: 'column',
                    renderTo: 'security-national-chart',
                    backgroundColor:'rgba(255,255,255,0)'
                },
                title: {
                    text: false
                },
                xAxis: {
                    title:{
                        text: 'National factors',
                    }
                },
                yAxis: {
                    allowDecimals: false,
                    min: 0,
                    max: 100,
                    title: {
                        enabled: false
                    }
                },
                tooltip: {
                    formatter: function () {
                        return this.series.name + ': <b>' + Highcharts.numberFormat(this.y,2) + '%</b>';
                    }
                },
                credits: {
                    enabled: false
                },
                series: [{
                    name: 'Interest rate rises',
                    data: [20]
                },
                        {
                    name: 'NHS waiting lists',
                    data: [49]
                }],
                navigation: {
                    buttonOptions: {
                        enabled: false
                    }
                }
            });
        });

        $(function () {
        var chart = new Highcharts.Chart({
            // Make sure to include this string of brand colours
            colors: ['#f8a980', '#ffbf47', '#b9db9b', '#a5bddc', '#b5afd7', '#81cec6', '#f499be', '#e76568', '#87c3d0'],
            chart: {
                type: 'pie',
                renderTo: 'pie-chart',
                backgroundColor:'rgba(255,255,255,0)'
            },
            title: {
                text: 'Pie chart'
            },
            tooltip: {
                formatter: function () {
                    return this.point.name + ': &lt;b&gt;£' + this.y + '&lt;/b&gt;';
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: false,
                    cursor: 'pointer',
                    showInLegend: false
                }
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Income',
                colorByPoint: true,
                data: [{
                    name: 'Source 1',
                    y: 144
                }, {
                    name: 'Source 2',
                    y: 59
                }, {
                    name: 'Source 3',
                    y: 210
                }, {
                    name: 'Source 4',
                    y: 64
                }, {
                    name: 'Source 5',
                    y: 102
                }, {
                    name: 'Source 6',
                    y: 88
                }, {
                    name: 'Source 7',
                    y: 31
                }, {
                    name: 'Source 8',
                    y: 75
                }, {
                    name: 'Source 9',
                    y: 163
                }],
                dataLabels: {
                    formatter: function () {
                        return this.point.name + ' £' + this.y;
                    }
                }
            }],
            navigation: {
                buttonOptions: {
                    enabled: false
                    }
                }
            });
        });


block sidebar
    include /template/sidebar-blog.jade

block content
    .fullwidth
        .story-masthead
            .story-masthead--content.fullwidth-content
                h1 Use your consumer rights for safe and sound electrical&nbsp;goods
                p Switched On, our campaign for National Consumer Week 2016, is all about electrical goods.
            img(src="#{dir}images/campaigns/campaigns-header-elec-goods.png")
    .fullwidth
        .fullwidth-content
            .campaign-content
                .flex-row
                    .col-md-6
                        .data-display
                            h2 Take a stand to get results
                            p We found nearly half of you (47%) don’t complain when something goes wrong with an electrical item.
                            p Consumers don’t complain because they:
                                li think the process will be too hard
                                li think it will take too long
                                li are convinced they won’t get anywhere
                                li Have had a bad experience in the past
                                li don’t expect products to be built to last anyway
                    .col-md-6
                        div#overview-chart

    .fullwidth-blue
        .fullwidth-content
            .campaign-content
                .flex-row
                   .col-md-6
                        .sil-image
                            img(src="#{dir}images/campaigns/laptop-800.png" align="center")
                   .col-md-6
                        .callout
                            p Your consumer rights apply to whoever sold you the goods, not whoever made them. Your rights are different depending where you bought the item.
                            p In a shop you don’t have a legal right to return or cancel, but if the store has a returns policy you can use it to get.
                            p Online, on the phone or by post you get 14 days to return or cancel when you buy something - unless it’s bespoke or made to measure.
                        p Different people or companies might be responsible for selling, delivering and installing your electrical item. You need to know which to contact if there’s a problem. The good news is they might have damage insurance.
    .fullwidth
        .fullwidth-content
            .campaign-content
                .flex-row
                    .col-md-6
                        h2 Get help
                        p Whether you think your electrical item can be repaired or replaced, or you want a refund, you will need to return it. If your item is faulty and you're not sure what to do you can:
                            li check your consumer rights with our #[a(href="https://www.citizensadvice.org.uk/consumer/somethings-gone-wrong-with-a-purchase/return-faulty-goods/") faulty goods tool]
                            li get advice from #[a(href="#") your nearest Citizens Advice]
                            li call the Citizens Advice #[a(href="#") consumer helpline]
                    .col-md-6
                        .sil-image
                            img(src="#{dir}images/campaigns/box-800.png" align="center")

    .fullwidth-gray
        .fullwidth-content
            .campaign-content
                .wrapper
                    .col-md-12
                        h2 Learn the facts before you buy again
                        p Many electrical goods are expensive, complicated, large and heavy. Do as much research as you can before buying - it might be inconvenient to return something like a washing machine after it’s arrived at your house.
                        p #[a(href="#") Take a look at our 2015 Know your new rights campaign] for more information about how the Consumer Rights Act affects you.

    .fullwidth
        .fullwidth-content
            .campaign-content
                .flex-row
                    .col-md-6
                        h3 Check for complaints
                        p Search online for the make and model of anything you’re thinking of buying to see if anyone is complaining about it. Do this even if you’re planning to buy the item on the high street. Ask friends and family too.
                    .col-md-6
                        h3 Look out for fakes
                        p Counterfeit electrical goods might not be made to the required standards, and they might be unsafe. Some commonly counterfeited electrical items are hair straighteners, mobile phone chargers, games consoles and e-cigarettes (sometimes called vapers).

    //.fullwidth-gray
        .fullwidth-content
            .flex-row
                .col-md-7
                    .medium-quote
                        h4 "Parturient est quis adipiscing penatibus massa vestibulum ut at condimentum congue ad curabitur. Hac pharetra nam a adipiscing non id sed est faucibus ad a a purus adipiscing tortor ultricies a mi ante."
                .col-md-2
                    .medium-author
                        img(src="#{dir}images/campaigns/medium-avatar-round.png")
                        p James Plunkett
                .col-md-3
                    h3 #[a(href="#") Medium Post Title]
                    p  Parturient est quis adipiscing penatibus massa vestibulum ...

    .medium
        .medium-quote
            .fullwidth-content
                .wrapper
                    h2 "Parturient est quis adipiscing penatibus massa vestibulum ut at condimentum congue ad curabitur. Hac pharetra nam a adipiscing non id sed est faucibus ad a a purus adipiscing tortor ultricies a mi ante."
        .medium-author
            .fullwidth-content
                .wrapper
                    img(src="#{dir}images/campaigns/medium-avatar-square.png")
                    p
                        a.medium-title(href="#") Read Medium Post Title
                        br
                        span.small by #[a(href="#") James Plunkett]

    .fullwidth
        .fullwidth-content
            .flex-row
                .col-md-12
                    h2(style="text-align:center;") Find out how we work

    .fullwidth
        .fullwidth-content
            .flex-row
                .col-md-6
                    h3 Watch local Citizens Advice in action
                    p If you’d like an idea of how we work, watch this short film, made by our Consumer Empowerment Partnership of 5 local Citizens Advice, showing how they help clients with electrical goods problems.
                .col-md-6
                    p(style="position: relative;padding-bottom: 52.1%; padding-top: 25px;height: 0;")
                        iframe(src="//www.youtube.com/embed/kJOVSfLnqwA?list=PLA56D3E70BE34B6BF", frameborder="0", allowfullscreen, style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;")

    //.fullwidth-gray
        .fullwidth-content
            .flex-row.campaign-share
               .col-md-4
               .col-md-4
                    h3 Share this page
               .col-md-4
            .flex-row.campaign-share
                .col-md-4
                    h4 #consumerweek
                .col-md-2
                    button.btn-secondary.facebook-button-icon facebook
                .col-md-2
                    button.btn-secondary.twitter-button-icon twitter
                .col-md-2
                    button.btn-secondary.email-button-icon email
                .col-md-2
                    button.btn-secondary.copy-button-icon copy link

    .twitter
        .fullwidth-content
            .hashtag
                h3 Join us on Twitter with #consumerweek
            .flex-row
                .col-md-6
                    .tweet
                        img(src="#{dir}images/campaigns/medium-avatar-square.png")
                        p
                            | Bakers to cut bread prices for Consumer Week #[a(href="http://buff.ly/1QzIbF6") buff.ly/1QzIbF6] #[a #bread] #[a #prices] #[a #cut] #[a #ConsumerWeek]
                        p.username #[a @TheCeylon16]
                .col-md-6
                    .tweet
                        img(src="#{dir}images/campaigns/medium-avatar-square.png")
                        p
                            | Bakers to cut bread prices for Consumer Week #[a(href="http://buff.ly/1QzIbF6") buff.ly/1QzIbF6] #[a #bread] #[a #prices] #[a #cut] #[a #ConsumerWeek]
                        p.username #[a @TheCeylon16]

    .sharing
        .fullwidth-content
            a.btn-white.sharing-button-icon_facebook Facebook
            a.btn-white.sharing-button-icon_twitter Twitter
            a.btn-white.sharing-button-icon_linkedin Linkedin
            a.btn-white.sharing-button-icon_messenger Messenger
            a.btn-white.sharing-button-icon_whatsapp Whatsapp
            a.btn-white.sharing-button-icon_email Email
            a.btn-white.sharing-button-icon_copy Copy
